## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
vacation_df = pd.read_csv("../vacation_search/weatherPy_vacation.csv",delimiter=',')
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Mataura,NZ,35.47,overcast clouds,-46.1927,168.8643,Ellie's Villa
1,1,Hobart,AU,48.06,scattered clouds,-42.8794,147.3294,Mantra on Collins Hobart
2,2,Auki,SB,74.16,clear sky,-8.7676,160.7034,Auki Motel
3,3,Sambava,MG,69.66,clear sky,-14.2667,50.1667,Melrose
4,4,Namwala,ZM,65.32,clear sky,-15.7504,26.4384,Corner Point Lodge

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng",]]
locations

         Lat       Lng
0   -46.1927  168.8643
1   -42.8794  147.3294
2    -8.7676  160.7034
3   -14.2667   50.1667
4   -15.7504   26.4384
..       ...       ...
690  29.2747   82.1838
691  38.4167   77.2406
692  53.9202  102.0442
693  16.7833   94.7333
694  -0.3167  102.3500

[695 rows x 2 columns]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'San Patricio']
vacation_end = vacation_df.loc[vacation_df['City'] == 'San Patricio']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Wharton']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Coffeyville']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Lovington']
vacation_stop2

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
433,442,Coffeyville,US,81.86,clear sky,37.0373,-95.6164,Regal Inn

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

end

array([28.017, -97.5169], dtype=object)

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,206,San Patricio,US,93.02,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
1,427,Wharton,US,91.62,scattered clouds,29.3116,-96.1027,"Countryside Inn Wharton, TX"
2,442,Coffeyville,US,81.86,clear sky,37.0373,-95.6164,Regal Inn
3,59,Lovington,US,79.18,few clouds,32.9440,-103.3485,Buena vida rv parks

In [15]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))